PORT=5000
MONGO_URI=mongodb+srv://dwivediabhayraj77_db_user:cG7FfvY4RfT8FYnk@cluster0.bg9xxeh.mongodb.net/
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d

ADMIN_NAME=Government Admin
ADMIN_EMAIL=admin@civicreport.local
ADMIN_PASSWORD=change_this_admin_password
ADMIN_FORCE_PASSWORD_RESET=false

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

NODE_ENV=development
